/* @import url('./assets/css/fonts.css'); */

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  /* background: linear-gradient(var(--primary-color-dark), var(--current-color) 50%, var(--primary-color-dark)); */
  transition: background-color .3s ease;
  transition: width 1s ease, height 1s ease;
  z-index: 0;
  & #quote-box {
    /* width: 500px; */
    /* max-width: 650px; */
    width: min(600px, 90vw);
    margin: auto;
    min-height: 250px;
    padding: 1rem 1rem;
    border-radius: 5px;
    background-color: var(--current-bgcolor-dark);
    transition: background-color .4s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 1s ease, height 1s ease;  
    
    & section#quote-and-author {
      margin-block: 1.5rem;
      animation: fadeIn 1s ease forwards;

      p#text {
        font-family: 'Foldit', sans-serif;
        color: var(--current-color);
        font-size: 2.5rem;
        letter-spacing: 1px;
        font-weight: var(--light);
        text-shadow: 0px 0px 1px var(--current-color-shadow);
        transition: color .4s ease;
      }
      p#author {
        font-family: 'Foldit ttf', sans-serif;
        font-size: 2rem;
        /* max-height: 50px; */
        text-align: right;
        padding-top: .75rem;
        margin: .5rem 1.3rem;
        font-style: italic;
        letter-spacing: 2px;
        font-weight: var(--light);
        color: var(--current-color);
        text-shadow: 0px 0px 2px var(--current-color-shadow);
        transition: color .5s ease, text-shadow .5s ease;
      }
    }
    
    & #buttons {
      display: flex;  
      justify-content: space-between;
      margin-inline: 1rem;
      gap: 1rem;
      height: 100%;
      flex-wrap: wrap;
      align-content: end;
      
      & a#tweet-quote, a#go-to-twitter {
        font-family: 'Foldit', sans-serif;
        color: var(--current-color);
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        margin-block: 4px;
        transition: color .5s ease;
      }
      & button#new-quote {
        font-family: 'Foldit', sans-serif;
        color: var(--current-bgcolor-dark);
        background: var(--current-color);
        font-size: 1.5rem;
        font-weight: var(--semi-bold);
        border-radius: 4px;
        border: none;
        /* box-shadow: inset 0px 0px 4px 4px var(--primary-color-dark) *//* , 0 0 6px 2px red */;
        width: 100px;
        height: 40px;
        margin-block: auto;
        cursor: pointer;
        transition: background .5s ease;
        &:active {
          box-shadow: inset 0px 0px 2px 1px #000;
          text-shadow: 0 0 1px var(--current-color-shadow);
          font-size: 1.45rem;
          transition: all .1s ease;
          filter: blur(0);
        }
      }
    }
  }
}

main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 900px;
  height: 25vh;

  filter: blur(100px);
  border-radius: 0%;
  z-index: 0;
  
  box-shadow: 0px 0px 10px 40px var(--current-color);
  background-color: var(--current-color);
  background: linear-gradient(var(--primary-color-dark), 33%, var(--current-color), 66.75%, var(--primary-color-dark));
  transition: background-color .5s ease, box-shadow .5s ease;
  animation: fadeIn 1s ease forwards;
}

@media (width <= 500px) {
  .text-res {
    font-size: 2.2rem !important;
  }
  .author-res {
    font-size: 1.7rem !important;
  }
}

.fadeIn { 
  animation: fadeIn .5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}