/* @import url('./assets/css/fonts.css'); */

main {
  display: grid;
  place-content: center;
  min-height: 100vh;  
  background: linear-gradient(var(--primary-color-dark), 33%, var(--terciary-color-shadow), 66.75%, var(--primary-color-dark));
  
  & #quote-box {
    max-width: 650px;
    padding: 1rem 1rem;
    margin-inline: 1rem;
    background: var(--secondary-color-dark);
    opacity: 0;
    opacity: 1;

    & section#quote-and-author {
      margin-block: .5rem 2rem;

      p#text {
        font-family: 'Foldit', sans-serif;
        color: var(--terciary-color-shadow);
        font-size: 2.5rem;
        letter-spacing: 1px;
        font-weight: var(--light);
        text-shadow: 0px 0px 8px var(--terciary-color-shadow);
        transition: .3s ease;
      }
      p#author {
        font-family: 'Foldit ttf', sans-serif;
        font-size: 2rem;
        text-align: right;
        /* padding: .75rem; */
        margin: 1rem 1.3rem;
        font-style: italic;
        letter-spacing: 2px;
        font-weight: var(--light);
        color: var(--terciary-color-shadow);
        text-shadow: 0px 0px 2px var(--terciary-color-shadow);
        transition: .3s ease;
      }
    }
    
    & #buttons {
      display: flex;  
      justify-content: space-between;
      margin-inline: 1rem;
      gap: 1rem;
      
      & a#tweet-quote, a#go-to-twitter {
        font-family: 'Foldit', sans-serif;
        color: var(--terciary-color-shadow);
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        margin-block: 4px;
        
      }

      & button#new-quote {
        font-family: 'Foldit', sans-serif;
        color: var(--secondary-color-dark);
        background: var(--terciary-color-shadow);
        font-size: 1.5rem;
        font-weight: var(--semi-bold);
        border: none;
        /* box-shadow: inset 0px 0px 4px 4px var(--primary-color-dark) *//* , 0 0 6px 2px red */;
        width: 100px;
        height: 40px;
        cursor: pointer;
        transition: background .3s ease;

        &:active {
          box-shadow: inset 0px 0px 5px 5px var(--primary-color-dark);
          text-shadow: 0 0 2px darkred;
          font-size: .75rem;
          transition: all .1s ease;
        }
      }
    }
  }
}


.colors {
  color: #f3a353, #f9c74f, #09c46a, #2a9d8f, #264653,
         #e76f51, #f4a261, #e9c46a, #2a5d8f, #5646f3,
}