/*light 300*/ /*.text*/
@font-face {
  font-family: 'Foldit';
  src: url('./assets/fonts/Foldit-Light.woff2') format('woff2'),
       url('./assets/fonts/Foldit-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*light 300 ttf*/ /*#author*/
@font-face {
  font-family: 'Foldit ttf';
  src: url('./assets/fonts/Foldit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-dark: #040714;
  --current-bgcolor-dark: #041c25;
  --current-bgcolor-light: ivory;
  --primary-color-light: #d3d3d3;
  /* --primary-color-shadow: #050566ee; */
  /* --secondary-color-shadow: #09f009; */
  --current-color: crimson;
  --current-color-shadow: crimson;
  --current-color-icons: var(--current-color);
  /*font-weight*/
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

body {
  /*text*/
  font-family: 'Foldit ttf', sans-serif;
  text-align: center;
  color: var(--primary-color-light);
/*screen*/
  min-height: 100lvh;
  background-color: #070714;
  transition: background-color .3s ease;
}
